body{
    margin: 0%;
    padding: 0%;
}
.container{
    font-family: "Nunito", sans-serif;
    padding: 9px;
    color: #000000;
    font-weight: normal;
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(-900%, -40%);
    font-size: 25px;
    white-space: nowrap;
}
body {
    margin: 0;
    padding: 0;
}
